.content-container-article {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 2rem 0rem 0rem 0rem;
}

.data-article {
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  border: 0.1rem solid black;
  height: 15rem;
  width: 60rem;
  margin: 2rem;
  padding: 6rem;
}
