@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

body {
  justify-content: center;
  width: 100%;
}

.slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
.slideset1 > *:nth-child(2) {
  animation-delay: 5s;
}
.slideset1 > *:nth-child(3) {
  animation-delay: 10s;
}
