* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home-icon {
  height: 3rem;
  width: 3rem;
  /* margin: 3rem 60rem 3rem 0rem;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden; */
  position: fixed;
  top: 3rem;
  left: 3rem;
}

.sign-in-icon {
  height: 5rem;
  margin: 2rem auto; 
  display: block;
  background-color: orange;
  border-radius: 50%;
}

.sign-in{
    margin: 1rem auto; 
    text-align: center;
}

.form {
  border: 0.1rem solid black;
  height: 20rem;
  width: 30rem;
  padding: 1rem;
  text-align: center;
  background-color: bisque;
}

.radio-label {
  margin: 0rem 0rem 0rem 2rem;
}

.radio-input {
  height: 1rem;
  width: 1rem;
  margin: 0;
}

input {
  height: 2.2rem;
  width: 10rem;
  margin: 2rem;
  text-align: end;
  font-size: 1rem;
}

.submit-btn {
  text-align: center;
  margin: 1rem 0rem 0rem 0rem;
}
