* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

nav {
  background-color: white;
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 0;
  filter: drop-shadow(grey 0px -7px 5px);
  z-index: 100;
}

nav a {
  text-decoration: none;
  max-height: 4rem;
  text-align: center;
}

.flex-start {
  display: flex;
  align-items: center;
}

.comkub {
  margin: 0.5rem 2.5rem 0rem 3rem;
  padding-left: 2rem;
  height: 2.2rem;
  filter: sepia(200%) hue-rotate(169deg) brightness(35%) saturate(7500%);
  transition: transform 0.15s;
}

.article-img {
  margin: 0.2rem 2.5rem 0rem 0rem;
  height: 2rem;
  transition: transform 0.15s;
}

/* .article-text,
.article-text {
  font-size: 0.75rem;
  color: black;
} */

.review-img {
  margin: 0.3rem 0rem 0rem 0rem;
  height: 3.5rem;
  transition: transform 0.15s;
}

.flex-end {
  display: flex;
  align-items: center;
}

.darkmode-section {
  height: 2rem;
  justify-self: end;
  margin: 0rem 2.5rem 0rem 0rem;
}

.darkmode-btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0rem;
  background-color: white;
  transition: transform 0.15s;
}

.darkmode-icon {
  height: 2rem;
}

.account-section {
  padding: 0rem 2rem 0rem 0rem;
  height: 3rem;
  justify-self: flex-end;
}

.account-btn {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.2rem 0rem 0rem 0rem;
  border-radius: 50%;
  border: 0.1rem solid black;
  background-color: white;
  text-align: center;
  transition: transform 0.15s;
}

.account-icon {
  height: 1.5rem;
}

.search-section {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  background-color: rgb(174, 235, 235);
}

.category-section {
  justify-self: right;
}

.category-btn {
  height: 2.5rem;
  width: 2.5rem;
  border: 0rem;
  margin: 1.6rem 0.5rem 0rem 0rem;
  background-color: rgb(174, 235, 235);
  transition: transform 0.15s;
}

.category-icon {
  height: 2rem;
  margin: 0rem;
}

.searchbar-section {
  height: 2.5rem;
  width: 28rem;
  background-color: white;
  margin: 1.5rem 0rem 0rem 0rem;
  display: flex;
}

.search-btn {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.6rem 0rem 0rem 0rem;
  background-color: white;
  border: none;
  transition: transform 0.15s;
}

.search-icon {
  height: 1rem;
  margin: 0.2rem 0rem 0rem 0rem;
}

.search-bar {
  height: 2.2rem;
  width: 26rem;
  font-size: 15px;
  text-align: left;
  margin: 0;
  padding: 0.5rem 0rem 0rem 0.8rem;
  border: 0;
}

.search-bar:focus {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}



.article-img:hover,
.review-img:hover,
.darkmode-btn:hover,
.account-btn:hover,
.category-btn:hover,
.search-btn:hover,
.comkub:hover  {
  transform: scale(1.1);
}

.data-home:hover{
  transform: scale(1.05);
  background-color: white;
  filter: drop-shadow(5px 5px 4px grey);
}