* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: orange;
  margin-top: 4rem;
  text-align: left;
  width: 100%;
  height: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 9fr 1fr 1fr;
  gap: 2rem;
}

nav a {
  margin: 2rem 0rem 0rem 8rem;
  text-decoration: none;
  max-height: 13rem;
}

.comkub {
  margin-top: 0.5rem;
  padding-left: 10rem;
  height: 10rem;
}

.article {
  margin-top: 0.5rem;
}

.review {
  margin-top: 0.5rem;
}

.search-section {
  justify-self: right;
  height: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category-btn {
  height: 7rem;
  width: 7rem;
  justify-self: right;
  margin-top: 2rem;
  margin-right: 3rem;
  background-color: orange;
  border: 0rem;
}

.category-icon {
  height: 7rem;
  margin-top: 3.5rem;
}

.searchbar-section {
  margin-top: 6rem;
}

.search-icon {
  height: 4rem;
  padding-top:0.8rem;
  margin-right: 1rem;
}

.search-bar {
  margin: 0rem 0rem 0rem 1rem;
  padding-top: 0rem;
} 

input {
  height: 6rem;
  width: 50rem;
  text-align: end;
  font-size: 3.5rem;
}

.darkmode-section {
  justify-self: flex-start;
  height: 13rem;
}

.darkmode-btn {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-top: 5rem;
  background-color: orange;
  border: 0rem;
}

.darkmode-icon {
  height: 7rem;
}

.account-section {
  justify-self: flex-end;
  padding-right: 2rem;
  height: 13rem;
}

.account-btn {
  height: 11rem;
  width: 11rem;
  margin-right: 3rem;
  margin-top: 1rem;
  border-radius: 50%;
  background-color: white;
  border: 0rem;
}

.account-icon {
  height: 10rem;
}