* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

body {
  justify-content: center;
  width: 100%;
  background-color: rgb(238, 249, 249);
  background: linear-gradient(to right, #A1C4FD , #C2E9FB);
}

.data-wrap {
  width: 90%;
}

.content-container-home {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data-home {
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  border: 0.1rem solid black;
  height: 15rem;
  width: 18rem;
  margin: 1.5rem;
  padding: 6rem;
  transition: transform 0.15s;
  background-color: white;
}

.slideset1 {
  height: 22rem;
  position: relative;
  overflow: hidden;
}
.slideset1 > * {
  position: absolute;
  top: 10%;
  right: 180%;
  animation: 15s autoplay1 infinite ease-in-out;
}
@keyframes autoplay1 {
  0% {
    left: -100%;
  }
  4% {
    left: 22%;
  }
  33.33% {
    left: 22%;
  }
  37.33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
.slideset1 > *:nth-child(2) {
  animation-delay: 5s;
}
.slideset1 > *:nth-child(3) {
  animation-delay: 10s;
}

.slide1,
.slide2,
.slide3 {
  border: 2px solid black;
  height: 17rem;
  width: 40rem;
  text-align: center;
  padding: 3rem 0rem 0rem 0rem;
  background-color: white;
  transition: transform 0.15s;
}

.slide1:hover,
.slide2:hover,
.slide3:hover {
  transform: scale(1.1);
  filter: drop-shadow(15px 15px 4px grey);
}

.about-section > h3 {
  font-weight: 400;
}

.about-section > a {
  padding: 3rem 0rem 0rem 0rem;
}

.about-section {
  height: 16rem;
  width: 100%;
  background-color: rgb(33, 62, 121);
  position: relative;
}

.wave {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.about {
  z-index: 2;
  position: absolute;
  color: white;
  top: 10%;
  left: 2.5%;
  height: 12rem;
  display: flex;
}
