* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

body {
  justify-content: center;
  width: 100%;
}

.content-container-home {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data-home {
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  border: 0.1rem solid black;
  height: 15rem;
  width: 20rem;
  margin: 1.5rem;
  padding: 6rem;
  transition: transform 0.15s;
}

.about-section {
  height: 20rem;
  width: 100%;
  background-color: rgb(174, 235, 235);
  margin: 1rem 0rem;
  padding: 2rem;
}

.slideset1 {
  height: 22rem;
  position: relative;
  overflow: hidden;
}
.slideset1 > * {
  position: absolute;
  top: 10%;
  right: 180%;
  animation: 15s autoplay1 infinite ease-in-out;
}
@keyframes autoplay1 {
  0% {
    left: -100%;
  }
  4% {
    left: 27.5%;
  }
  33.33% {
    left: 27.5%;
  }
  37.33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
.slideset1 > *:nth-child(2) {
  animation-delay: 5s;
}
.slideset1 > *:nth-child(3) {
  animation-delay: 10s;
}

.slide1,
.slide2,
.slide3 {
  border: 2px solid black;
  height: 17rem;
  width: 40rem;
  text-align: center;
  padding: 3rem 0rem 0rem 0rem;
  background-color: white;
  transition: transform 0.15s;
}

.slide1:hover,
.slide2:hover,
.slide3:hover {
  transform: scale(1.1);
  filter: drop-shadow(15px 15px 4px grey);
}

.about-section>h3 {
  font-weight: 400;
}

.about-section>a {
  padding: 3rem 0rem 0rem 0rem;
}
